* {
  box-sizing: border-box;
}

body * {
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 2vh 3vw;
}

#top-header {
  width: 70%;
  margin: 6px auto 6px auto;
}

h1 {
  font-size: 2rem;
  text-align: center;
  padding: 12px 0;
  background-color: rgb(255, 207, 188);
}

#filterForm {
  margin-top: 9px;
  text-align: right;
}

#addNewBookmark {
  width: 100%;
  margin: 12px auto;
  border: 4px solid grey;
}

#viewBookmarks,
#editBookmark {
  width: 70%;
  margin: 12px auto;
  border: 4px solid grey;
}

.viewBookmarkExpanded {
  display: none;
}

#viewFormExpanded {
  display: none;
}

#infoLine {
  width: 70%;
  background-color: rgb(255, 207, 188); 
  margin: 6px auto;
  padding: 6px 12px;
}
.italicspan {
  font-style: italic;
}

h2, h3 {
  font-size: 1.7rem;
  border-bottom: 1px solid black;
  background-color: lightgray;
  position: relative;
}

.arrowpointers {
  font-size: 3rem;
  line-height: 1.7rem;
  position: absolute;
  right: 0;
}

.stars {
  color: green;
}
.vertAlignBottom {
  vertical-align: bottom;
}
.labeler {
  font-weight: 600;
}

input[type="text"],
textarea {
  width: 360px;
}

input[type="radio"] {
  margin: 0 0 0 15px;
}