* {
  box-sizing: border-box;
}

body * {
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 2vh 3vw;
}

#top-header {
  width: 96%;
  margin: 6px auto 6px auto;
}

h1 {
  font-family: 'Muli', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  font-style: italic;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 30px blue, 0 0 10px darkblue;
  text-align: center;
  padding: 12px 0;
  background-color: rgb(146, 177, 243);
  border: 3px solid rgb(188, 208, 252);
}

#filterForm {
  margin-top: 9px;
  text-align: right;
}

h2 {
  font-size: 1rem;
  border-bottom: 1px solid black;
  background-color: rgb(223, 231, 248);
  position: relative;
  padding: 9px;
}

.italicspan {
  font-style: italic;
}

.addingHead:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#viewFormExpanded,
.viewBookmarkExpanded {
  padding: 6px 12px 12px 12px;
}

.formRow {
  margin-top: 9px;
  font-weight: 600;
}

.noBold {
  font-weight: 400;
}

.vertAlignBottom {
  vertical-align: bottom;
}

input[type="text"],
textarea {
  width: 300px;
}

input[type="radio"] {
  margin: 0 0 0 15px;
}

.savebtn:hover {
  background-color: rgb(78, 238, 45);
}

#infoLine {
  width: 96%;
  background-color: rgb(146, 177, 243);
  border: 3px solid rgb(188, 208, 252);
  margin: 12px auto 6px auto;
  padding: 3px 9px;
}

#viewBookmarks {
  padding: 0 0 20px 0;
}

.singleBookmark,
#editBookmark {
  width: 96%;
  margin: 0 auto 9px auto;
  border: 4px solid grey;
}

#addNewBookmarkA,
#addNewBookmarkB {
  width: 96%;
  margin: 0px auto;
  border: 4px solid grey;
}

.boxHeader:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3 {
  font-size: 1rem;
  border-bottom: 1px solid black;
  background-color: rgb(255, 254, 254);
  position: relative;
  padding: 9px;
}

h3:hover {
  background-color: rgb(223, 231, 248);
}

.stars {
  font-size: 1.3rem;
  text-align: right;
  color: rgb(216, 99, 53);
  text-shadow: -2px 0 rgb(255, 255, 104), 0 2px rgb(255, 255, 104), 2px 0 rgb(255, 255, 104), 0 -2px rgb(255, 255, 104);
  position: absolute;
  right: 12%;
}

.arrowpointers {
  font-size: 2.5rem;
  line-height: 1.7rem;
  position: absolute;
  right: 0;
}

.topRow {
  position: relative;
}

.delete {
  position: absolute;
  right: 0;
}

.delete:hover {
  background-color: red;
}

@media only screen and (min-width: 600px) {

  #top-header {
    width: 70%;
  }
  #addNewBookmarkA,
  #addNewBookmarkB {
    width: 70%;
  }
  .singleBookmark,
  #editBookmark,
  #infoLine {
    width: 70%;
  }
  h2, h3 {
    font-size: 1.3rem;
  }
  .stars {
    font-size: 1.6rem;
  }
  .arrowpointers {
    font-size: 3rem;
  }
  input[type="text"],
  textarea {
    width: 360px;
  }
}